/**
 * 作品：layout.css
 * 理念：
 *     1. 常用的样式封装与设计，提高开发效率。
 *     2. 不再兼容 IE6 了，让这个怪物自生自灭吧~
 *     2. 建议配合 reset.css 一起使用
 */

/***************************** 常用的布局样式 *****************************/

/**
 * 页面定宽布局
 * 由于大部分用户的 PC 屏幕宽度为 1280px +，
 * 极少部分在这之下（如 1024*768），所以可以如下设定（借鉴淘宝）
 */
.w { width: 1080px; margin: 0 auto; position: relative; overflow: hidden; }
.small .w { width: 990px; }

/* 统一盒模型 */
.border-box *, .border-box *:after, .border-box *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/***************************** 常用的功能样式 *****************************/

/* 隐藏与显示 */
.hide { display: none; }
.show { display: block; }

/* 浮动和清除浮动, 兼容 IE6 */
.fl { float: left; *display: inline; _display:inline; }
.fr { float: right; *display: inline; _display:inline; }
.clearfix { *zoom: 1; }
.clearfix:after { display: block; clear: both; content: ''; visibility: hidden; height: 0; }

/* 浏览器更新代码 */
.browser-upgrade { padding: 20px 0; text-align: center; color: #333; background-color: #f2dede; z-index: 1000; }
.browser-upgrade a { font-weight: bold; }
.browser-upgrade a:hover { font-weight: bold; text-decoration: underline; }

/***************************** 常用的组件样式 *****************************/

/* 超链接样式 */
.link { color: #999; cursor: pointer; text-decoration: none; }
.link:hover { color: #e80012; }
.link-text { color: #999; text-decoration: none; }

/* 按钮样式 */
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}

/* 面板样式 */
.panel {
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title {
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body {
    padding: 10px;
    overflow: hidden;
}

/* loading 样式 */
.loading {
    display: block;
    width: 65px;
    height: 65px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url(../../image/icon/loading.gif) no-repeat;
    opacity: .6;
}
